/* @import './base.css'; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
  /* overflow-y: hidden; */
}
.btn {
  background: #6A984D;
  color: #fff;
  min-width:40px;
  min-height: 30px;
  padding: 5px  10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shaddov qo'shish */
}
